body {
    max-width: 970px;
    margin: 0 auto;
    font-family: 'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;
}

header {
    margin: 1em 0;
}

    header h1 {
        font-size: 3em;
        margin: 0;
    }

    header p {
        margin-top: .3em;
        font-size: 2em;
    }

section {
    margin: 3em 0;
}

    section article {
        margin: 2em 0 2em 1em;
    }

    section ul{
        list-style: none;
        padding-left: 1em;
    }

    section ul li ul{
    }

footer {
    margin-top: 5em;
    text-align: center;
}
