<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <system.webServer>

    <staticContent>
      <mimeMap fileExtension=".vsix" mimeType="application/octed-stream" />
    </staticContent>

    <defaultDocument>
      <files>
        <add value="index.html"/>
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="feed" stopProcessing="false">
          <match url="^feed/?$" ignoreCase="true" />
          <action type="Rewrite" url="/feed/feed.ashx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>
