@Master['layout']

@Section['Content']
<h2>Welcome!</h2>

<p>
This is a quickstart project template for creating a Nancy demo application which can be hosted on http://samples.nancyfx.org. If you wish to contribute a sample to the website, this template is the fastest way to do it.
</p>

<h2>Creating a Sample</h2>

<p>It's pretty simple to create a sample for the site, but there's a few conventions you need to follow:</p>

<ol>
  <li>Think of an idea that you want to demo :-)</li>
  <li>Create your project and Github repository with the Nancy.Demo.[name] naming convention.</li>
  <li>Make sure you use NuGet for your dependencies, the site will parse your packages.conf.</li>
  <li>Add a readme.md to the root of the repo and provide details of what the sample is, what it does, and how to get it running if there are any additional steps required.</li>
  <li>Add a root "index view" with the readme details in a "hero" div (&lt;div class="hero-unit"&gt;&lt;/div&gt;).</li>
  <li>For code snippets use &lt;pre&gt;&lt;code&gt;&lt;/code&gt;&lt;/pre&gt; and they will be syntax highligted using highlight.js.</li>
  <li>Add a license.txt, preferably MIT, but this isn't a hard requirement.</li>
  <li>Follow the general Bootstrapper styles and theming for consistency.</li>
  <li>Make sure any external content, such as CSS, images, js etc have the appropriate licenses and make sure you respect any copyright or attribution clauses on any external dependencies.</li>
</ol>

<p>One you've done all that and pushed it up to Github, you just need to let us know, either:</p>

<ul>
  <li>Send us an <a href="mailto:nancy@nancyfx.org">email</a>.</li>
  <li>Ping us on <a href="http://twitter.com/nancyfx">Twitter</a>.</li>
</ul>

<p>Once your account is added the site will automatically pickup any additional Demo projects you add.</p>

<p>Have fun! :-)</p>

<h3>- Team Nancy</h3>
@EndSection
