<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>$safeprojectname$</title>

	<style type="text/css">

		body {
			text-align: center;
		}

	</style>

</head>
<body>
	<img src="~/Content/nancy-logo.png" alt="Nancy logo" /><br />
	This view was rendered using the Nancy Razor view engine
</body>
</html>
